body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

h1 {
    font-size: 40px;
    margin-top: 0;
    line-height: 20px;
}

.button {
    text-decoration: none;
    background-color: #FF5959;
    padding: 10px 20px;
    color: white;
    font-size: 700;
    border-radius: 4%;
    display: inline-block;
    margin-top: 10px;
}


}

.height-padding {
    padding-bottom: 30px;
}

.cover {
    text-align: center;
    color: white;
    padding-top: 100px;
    padding-top: 120px;

}

.image {
    background-image: linear-gradient(to top, rgba(24, 22, 22, 0.973), transparent), url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px
}

.bold-font {
    font-size: 30px;
}

.donation-amount {
    display: flex;
    justify-content: center;

}

.donation-info {
    text-align: center;
    padding-top: 100px;
}

.plan-head {
    width: 90px;
    height: 70px;
    margin: 10px;
    background-color: #fafafa;
}

.style-line {
    background-color: #ffeeee;
    border: 2px solid #FF5959;
    padding: 20px;
    border-radius: 4px;
    color: #FF5959;

}

.input-border {
    text-align: center;
    border: 0;
    border-bottom: 1px solid black;
    outline: 0;
    width: 500px;
}


.food {
    width: 250px;
    border: 0;
    padding: 20px;
    margin: 20px;
    background-color: #b1d2d6b0;
}

.shelter {
    width: 250px;
    border: 0;
    padding: 20px;
    margin: 20px;
    background-color: #df8d8d98;
}

.education {
    width: 250px;
    border: 0;
    padding: 20px;
    margin: 20px;
    background-color: #5a2f2f6e;
}

.about {
    display: flex;
    padding-top: 100px;
}

.half-width {
    width: 50%;
    padding-left: 12%;
}

.half-width img {
    width: 80%;
}

.email-box {
    background-color: rgba(151, 140, 140, 0.842);
    border: 0;
    padding: 11px;
    width: 250px;
    border: none;
    outline: none;

}

.contact-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;


}

.subs-button {
    text-decoration: none;
    background-color: #FF5959;
    padding: 7px;
    color: white;
    font-size: 700;
    border: none;
    outline: none;
}

.padding1 {
    background-color: #df8d8d31;
    padding-left: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.padding2 {
    background-color: #df8d8d31;
    padding-right: 150px;
    padding-top: 56px;
    padding-bottom: 56px;
}

.font-change2 {
    color: white;
    font-size: 10px;
}

.font-change {

    color: #FF5959;
    font-size: 23px;
    font-family: 'Lobster', cursive;

}

.footer-style {
    padding-top: 130px;
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 12px;
    background-color: #0b0d17;
}