body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

h1 {
    font-size: 40px;
    margin-top: 0;
    line-height: 20px;
}

.button {
    text-decoration: none;
    background-color: #FF5959;
    padding: 10px 20px;
    color: white;
    font-size: 700;
    border-radius: 4%;
    display: inline-block;
    margin-top: 10px;
}


}

.height-padding {
    padding-bottom: 30px;
}

.cover {
    text-align: center;
    color: white;
    padding-top: 100px;
    padding-top: 120px;

}

.image {
    background-image: linear-gradient(to top, rgba(24, 22, 22, 0.973), transparent), url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px
}

.bold-font {
    font-size: 30px;
}

.donation-amount {
    display: flex;
    justify-content: center;

}

.donation-info {
    text-align: center;
    padding-top: 100px;
    line-height: 30px;
}

.plan-head {
    width: 90px;
    height: 70px;
    margin: 10px;
    background-color: #fafafa;
}

.style-line {
    background-color: #ffeeee;
    border: 2px solid #FF5959;
    padding: 20px;
    border-radius: 4px;
    color: #FF5959;

}

.input-border {
    text-align: center;
    border: 0;
    border-bottom: 1px solid black;
    outline: 0;
    width: 500px;
}


.food {
    width: 250px;
    border: 0;
    padding: 20px;
    margin: 20px;
    background-color: #b1d2d6b0;
}

.shelter {
    width: 250px;
    border: 0;
    padding: 20px;
    margin: 20px;
    background-color: #df8d8d98;
}

.education {
    width: 250px;
    border: 0;
    padding: 20px;
    margin: 20px;
    background-color: #5a2f2f6e;
}